{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<section class="page-section">
    <div class="info-div text-center mt-4 mb-4">
        <p class="display-5 fw-bold" id="welcome-txt">
            Qarshi Muhandislik-Iqtisodiyot Instituti, Iqtisodiyot fakultetining Mikro va Makroiqtisodiyot fani rasmiy
            veb-saytiga xush kelibsiz!
        </p>
    </div>
    <div class="row info-row mt-4 mb-4">
        <div class="col-md">
            <h1 class="info-text fw-light">
                <cite>Mikroiqtisodiyot o'zi nima?</cite>
            </h1><br>
            <p class="fw-light">
                Mikroiqtisodiyot (grekcha: μικρός — „kichik“) — iqtisodiy nazariyaning ayrim bir xo'jalik yurituvchi 
                sub'yektlar o'rtasidagi iqtisodiy munosabatlarni, ularning faoliyati va milliy iqtisodiyotga ta'sirini 
                o'rganadigan bo'limi; mikroiqtisodiyot o'rganadigan asosiy ob'yektlar — uy xo'jaligi va nisbatan katta 
                bo'lmagan korxonalardir.<br>
                <br>
                <cite>
                    Manbaa: <a href="https://uz.wikipedia.org/wiki/Mikroiqtisodiyot" class="source-link">uz.wikipedia.org</a>
                </cite>
            </p>
        </div>
        <div class="col-md info-col">
            <img src="{% static 'images/microeconomics.jpg' %}" class="index-img">
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col-md info-col">
            <img src="{% static 'images/macroeconomics.jpg' %}" class="index-img">
        </div>
        <div class="col-md">
            <h1 class="info-text fw-light">
                <cite>Makroiqtisodiyotchi?</cite>
            </h1><br>
            <p class="fw-light">
                Makroiqtisodiyot — mamlakat (yoki uning bir qismi, tarmoqlar) iqtisodiyotini, inflatsiya, ishsizlik, 
                byudjet taqchilligi (defisiti), iqtisodiy o'sish, iqtisodiyotning davlat tomonidan boshqarilishi 
                va umumiy jarayonlarni o'rganuvchi fan. Makroiqtisodiyot YaIM, YaMM, yalpi talab, yalpi taklif, 
                to'lov balansi, pul bozori, tovar bozori va mehnat bozori kabi tushunchalar bilan ishlaydi.<br>
                <br>
                <cite>
                    Manbaa: <a href="https://uz.wikipedia.org/wiki/Makroiqtisodiyot" class="source-link">uz.wikipedia.org</a>
                </cite>
            </p>
        </div>
    </div>
    <div class="info-div mt-5 mb-4">
        <h3 class="info-text fw-light">
            {% if main_info %}
                <cite>{{ main_info.description }}</cite>
            {% else %}
                <cite>{% lorem %}</cite>
            {% endif %}
        </h3>
    </div>
    {% if user.is_superuser %}
            <div class="card" id="blog-form-card">
                <div class="card-body blog-form-card">
                    <form action="{% url 'add_index_description' %}" novalidate method="post" id="description-form">
                        {% csrf_token %}
                        <div class="blog-input-div">
                            <label class="body-label mt-3 ms-3 mb-1" for="#blog-body">
                                Asosiy sahifa uchun ma'lumot <img src="{% static 'icons/empty-error.png' %}" 
                                                class="body-error-icon ms-1"
                                                id="description-error-icon">
                            </label>
                            <textarea class="blog-body-input"
                            name="description"
                            placeholder="Jumla..."
                            rows="5"
                            id="description"></textarea>
                        </div>
                        <button type="submit"
                        class="btn-navbar info-text mt-2">
                            Kiritish
                        </button>
                    </form>
                </div>
            </div>
        {% endif %}
</section>
<script>
    $('#description-form').on('submit', event => {
        var description = document.getElementById('description');
        const error_icon = document.getElementById('description-error-icon');

        if (ValidateFormElements(description, error_icon) === false) {
            event.preventDefault();
            event.stopPropagation();
            return false;
        }
    });

    function ValidateFormElements(element, error_icon, is_url=false) {
        if (element.value === '' || element.value  === null || element.value === undefined) {
            $(element).css('border-color', 'red');
            $(error_icon).css('display', 'flex');
            return false;
        } else {
            $(element).css('border-color', '');
            $(error_icon).css('display', 'none');
            return true;
        };
    };
</script>
{% endblock content %}
